extends layout
block content
    .container
        .row.margin-bottom-40
            //
                 BEGIN SIDEBAR
            .sidebar.col-md-3.col-sm-5
                .sidebar-products.clearfix
                    h2 İlgili Kitaplar
                    .item
                        a(href='item.html')
                            img(src='/assets/temp/products/k1.jpg', alt='Some Shoes in Animal with Cut Out')
                        h3
                            a(href='item.html') Some Shoes in Animal with Cut Out
                        .price $31.00
                    .item
                        a(href='item.html')
                            img(src='/assets/temp/products/k4.jpg', alt='Some Shoes in Animal with Cut Out')
                        h3
                            a(href='item.html') Some Shoes in Animal with Cut Out
                        .price $23.00
                    .item
                        a(href='item.html')
                            img(src='/assets/temp/products/k3.jpg', alt='Some Shoes in Animal with Cut Out')
                        h3
                            a(href='item.html') Some Shoes in Animal with Cut Out
                        .price $86.00
            //
               END SIDEBAR
            //
               BEGIN CONTENT
            .col-md-9.col-sm-7
                .product-page
                    .row
                        .col-md-6.col-sm-6
                            .product-main-image(style='position: relative; overflow: hidden;')
                                img.img-responsive(src='#{book.imgPath}', alt='#{book.title}', data-bigimgsrc='#{book.imgPath}')
                        .col-md-6.col-sm-6
                            h1 #{book.title}
                            .price-availability-block.clearfix
                                .price
                                    strong
                                        span $
                                        | 47.00
                                    em
                                        | $
                                        span 62.00
                                .availability
                                    | Availability:
                                    strong In Stock
                            .description
                                p
                                    | !{book.description}
                            .product-page-cart
                                .product-quantity
                                    .input-group.bootstrap-touchspin.input-group-sm
                                        span.input-group-btn
                                            button.btn.quantity-down.bootstrap-touchspin-down(type='button')
                                                i.fa.fa-angle-down
                                        span.input-group-addon.bootstrap-touchspin-prefix
                                        input#product-quantity.form-control.input-sm(type='text', value='1', readonly='')
                                        span.input-group-addon.bootstrap-touchspin-postfix
                                        span.input-group-btn
                                            button.btn.quantity-up.bootstrap-touchspin-up(type='button')
                                                i.fa.fa-angle-up
                                button.btn.btn-primary(type='submit') Add to cart
                            .review
                                input#backing4(type='range', value='4', step='0.25', style='display: none;')
                                .rateit(data-rateit-backingfld='#backing4', data-rateit-resetable='false', data-rateit-ispreset='true', data-rateit-min='0', data-rateit-max='5')
                                    button#rateit-reset-2.rateit-reset(data-role='none', aria-label='reset rating', aria-controls='rateit-range-2', style='display: none;')
                                    #rateit-range-2.rateit-range(tabindex='0', role='slider', aria-label='rating', aria-owns='rateit-reset-2', aria-valuemin='0', aria-valuemax='5', aria-valuenow='4', aria-readonly='false', style='width: 80px; height: 16px;')
                                        .rateit-selected.rateit-preset(style='height: 16px; width: 64px;')
                                        .rateit-hover(style='height: 16px;')
                                a(href='#') 7 reviews
                                | |
                                a(href='#') Write a review
                            ul.social-icons
                                li
                                    a.facebook(data-original-title='facebook', href='#')
                                li
                                    a.twitter(data-original-title='twitter', href='#')
                                li
                                    a.googleplus(data-original-title='googleplus', href='#')
                                li
                                    a.evernote(data-original-title='evernote', href='#')
                                li
                                    a.tumblr(data-original-title='tumblr', href='#')

            //
               END CONTENT
