extends layout
block content
    .container
        .row.margin-bottom-40
            //
                 BEGIN SIDEBAR
            .sidebar.col-md-3.col-sm-5
                .sidebar-products.clearfix
                    h2 İlgili Kitaplar
                    each relatedBook, i in relatedBooks
                        .item
                            a(href='item.html')
                                img(src='#{relatedBook.imgPath}', alt='#{relatedBook.title}')
                            h3
                                a(href='/bookdetail/#{relatedBook._id}') #{relatedBook.title}
                            .price 3 TL
            //
               END SIDEBAR
            //
               BEGIN CONTENT
            .col-md-9.col-sm-7
                .product-page
                    .row
                        .col-md-6.col-sm-6
                            .product-main-image(style='position: relative; overflow: hidden;')
                                img.img-responsive(src='#{book.imgPath}', alt='#{book.title}', data-bigimgsrc='#{book.imgPath}')
                        .col-md-6.col-sm-6
                            h1 #{book.title}
                            .description
                                p
                                    | !{book.description}
                            if (url)
                                .price-availability-block.clearfix
                                    .price
                                        strong
                                            span TL
                                            | #{amount}
                                .product-page-cart
                                    button.btn.btn-primary(type='submit', onclick='window.location = "#{url}"') Paypal ile Öde
                            .product-page-cart
                                button.btn.btn-primary(type='submit', data-id='#{book._id}' id='buyBook') Bu kitabı satabilirim
                            ul.social-icons
                                li
                                    a.facebook(data-original-title='facebook', href='#')
                                li
                                    a.twitter(data-original-title='twitter', href='#')
                                li
                                    a.googleplus(data-original-title='googleplus', href='#')
                                li
                                    a.evernote(data-original-title='evernote', href='#')
                                li
                                    a.tumblr(data-original-title='tumblr', href='#')

            //
               END CONTENT
