extends layout
block content
    .container
        .row.margin-bottom-40
            //
                 BEGIN SIDEBAR
            .sidebar.col-md-3.col-sm-5
                .sidebar-products.clearfix
                    h2 İlgili Kitaplar
                    .item
                        a(href='item.html')
                            img(src='/assets/temp/products/k1.jpg', alt='Some Shoes in Animal with Cut Out')
                        h3
                            a(href='item.html') Some Shoes in Animal with Cut Out
                        .price $31.00
                    .item
                        a(href='item.html')
                            img(src='/assets/temp/products/k4.jpg', alt='Some Shoes in Animal with Cut Out')
                        h3
                            a(href='item.html') Some Shoes in Animal with Cut Out
                        .price $23.00
                    .item
                        a(href='item.html')
                            img(src='/assets/temp/products/k3.jpg', alt='Some Shoes in Animal with Cut Out')
                        h3
                            a(href='item.html') Some Shoes in Animal with Cut Out
                        .price $86.00
            //
               END SIDEBAR
            //
               BEGIN CONTENT
            .col-md-9.col-sm-7
                .product-page
                    .row
                        .col-md-6.col-sm-6
                            .product-main-image(style='position: relative; overflow: hidden;')
                                img.img-responsive(src='#{book.imgPath}', alt='#{book.title}', data-bigimgsrc='#{book.imgPath}')
                        .col-md-6.col-sm-6
                            h1 #{book.title}
                            .description
                                p
                                    | !{book.description}
                            if (url)
                                .price-availability-block.clearfix
                                    .price
                                        strong
                                            span $
                                            | 10.00
                                .product-page-cart
                                    button.btn.btn-primary(type='submit', onclick='window.location = "#{url}"') Paypal ile Öde
                            ul.social-icons
                                li
                                    a.facebook(data-original-title='facebook', href='#')
                                li
                                    a.twitter(data-original-title='twitter', href='#')
                                li
                                    a.googleplus(data-original-title='googleplus', href='#')
                                li
                                    a.evernote(data-original-title='evernote', href='#')
                                li
                                    a.tumblr(data-original-title='tumblr', href='#')

            //
               END CONTENT
